.login-container {
    margin-top: 20%;
    margin-bottom: 20%;
    max-width: 30%;
    height: 350px;
    margin: 6% auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .login-email {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-pwd {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5%;
  }
  
  .button-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0077b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  
  .button-submit {
    background-color: #005f8e;
    
  }
  
  .forgot-password {
    text-align: center;
  }
  
  .forgot-password p {
    margin-bottom: 10px;

  }
  
  .forgot-password button {
    background-color: transparent;
    border: none;
    color: #0077b5;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .forgot-password button:hover {
    text-decoration: underline;
  }
  
  .header-nav {
    background-color: #0077b5;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-nav h1 {
    margin: 0;
  }

  .login-nav {
    background-color: #333;
    color: white; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .login-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .login-nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .login-nav ul li:last-child {
    margin-right: 0;
  }
  
  .login-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .login-nav ul li a:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
  