.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .signup-name,
  .signup-email,
  .signup-pwd {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #0077b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #005f8e;
  }

  
  .header-nav {
    background-color: #0077b5;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-nav h1 {
    margin: 0;
  }

  .signup-nav {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .signup-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .signup-nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .signup-nav ul li:last-child {
    margin-right: 0;
  }
  
  .signup-nav ul li a {
    text-decoration: none;
    color: white; /* LinkedIn blue color for links */
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .signup-nav ul li a:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
  